POSTGRES_PASSWORD=changeme
PGADMIN_EMAIL=your-email@example.com
PGADMIN_PASSWORD=changeme

AWS_PROFILE=financial-warehouse
S3_BUCKET=financial-data-warehouse-raw-135978535798

DB_HOST=localhost
DB_PORT=5432
DB_NAME=findw
DB_USER=shreya